* {box-sizing: border-box;}

body            {font-family: Arial; padding: 10px; background: #f1f1f1;}
.header         {padding: 30px; background: gray;}
.header h1      {font-size: 50px;}
.topnav         {overflow: hidden; background-color: #333;}
.topnav a       {float: left;        display: block;     color: #f2f2f2;
    text-align: center; padding: 14px 16px; text-decoration: none;}
.topnav a:hover {background-color: #ddd; color: black;}
.leftcolumn     {float: left; width: 75%;}
.rightcolumn    {float: left; width: 25%; background-color: #f1f1f1; padding-left: 20px;}
.fakeimg        {background-color: #aaa; width: 100%; padding: 20px;}
.card           {background-color: white; padding: 20px; margin-top: 20px;}
.show1          {background-color: yellow; padding: 20px; margin-top: 20px;}
.show2          {display: none;background-color: blue; padding: 20px; margin-top: 20px;}
.row:after      {content: ""; display: table; clear: both;}
.footer         {padding: 20px; text-align: center; background: #ddd; margin-top: 20px;}

/* 响应式布局 - 屏幕尺寸小于 800px 时，两列布局改为上下布局 */
@media screen and (max-width: 800px) {.leftcolumn,.rightcolumn {width: 100%; padding: 0;}}

/* 响应式布局 -屏幕尺寸小于 400px 时，导航等布局改为上下布局 */
@media screen and (max-width: 400px)  {.topnav a {float: none; width: 100%;}  }